.obalka
{

margin: 0 auto;
width:1200px;
background-color:rgb(245, 136, 64);
border:solid #000 2px;
}
header
{



}
nav
{
height:50px;
background-color:#003768;
}
nav ul 
{
list-style-type:none;

}
nav ul li
{
display:inline-block;
font-family:Tahoma;
margin: 13px 15px 30px 30px;
font-size:20px;
}
nav ul li a
{
text-decoration:none;
color:rgb(234, 222, 222);
}
nav ul li a:hover{
color:#fc0;
}
section
{
text-align:center;


}

body
{
background-color:rgb(0, 0, 0);


}
footer
{
text-align:center;
width:400px;
padding:20px;
margin-top:20px;
}
